<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="poble" />
    <add key="MainUri" value="https://posnet.com.au" />
    <add key="GitUri" value="https://github.com/poble-pos/poble-win.git" />
    <add key="GitPath" value="\git" />
    <add key="GitBranch" value="main" />
    <add key="ExeFile" value="poble.exe" />
    <add key="IconFile" value="icon copy-29@3x.ico" />
  </appSettings>
</configuration>